:root {
  --borders_background: rgba(255, 255, 255, 0.2);
  --borders_sidebar: rgba(97, 97, 97, 1);
  // input
  --borders_input: rgba(77, 77, 77, 1);
  --borders_input_hover: rgba(107, 107, 107, 1);
  --borders_input_active: rgba(116, 143, 255, 1);
  --borders_button: rgba(221, 221, 221, 1);
  --borders_button_hover: rgba(166, 166, 166, 1);
  --borders_button_pressed: rgba(22, 22, 22, 1);
  --borders_button_disabled: rgba(230, 230, 230, 1);
}