:root {
  //green
  --dot-green: rgba(222, 238, 229, 1);
  //grey
  --dot-grey: rgba(232, 234, 236, 1);
  //blue
  --dot-blue: rgba(203, 219, 239, 1);
  //violet
  --dot-violet: rgba(228, 219, 238, 1);
  //orange
  --dot-orange: rgba(239, 227, 194, 1);
  //red
  --dot-red: rgba(239, 223, 221, 1);
}
