:root {
  --controls-with-popup-icon: var(--text_tertiary);
  --controls-with-popup-bg-hover: var(--borders_input);
  --controls-with-popup-popup-border: var(--borders_input);
  --controls-with-popup-popup-danger-text: var(--text_error);
}