:root {
  --tab-border: var(--borders_input);
  --tab-border-active: var(--text_primary);
  --tab-text: var(--text_tertiary);
  --tab-text-active: var(--text_primary);
  --tab-text-hover: var(--text_secondary);
  --tab-border-hover: var(--text_secondary);
}