.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  gap: 10px;
}

.imageWrapper {
  
  position: relative;
}

.image {
  object-fit: contain;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.spectro {
  background-color: rgba(251, 255, 0, 0.5);
}

.havoc {
  background-color: rgba(156, 0, 0, 0.5);
}

.aero {
  background-color: rgba(55, 224, 159, 0.5);
}

.glacio {
  background-color: rgba(67, 231, 231, 0.5);
}

.fusion {
  background-color: rgba(224, 109, 1, 0.5);
}

.electro {
  background-color: rgba(85, 0, 119, 0.5);
}

.additionalInfo {
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 2px;
  border-radius: 4px;
  background-color: gray;
  font-size: 12px;
}
