.input {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  width: 100%;
  height: 20px;

  &::placeholder {
    color: grey;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.error {
  color: red;

  path {
    fill: red;
  }

  &::placeholder {
    color: red;
  }
}
